.navbar{
    position: fixed;
    bottom: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*background-color: red;*/
}
.navbar .navbar__center{
    height: 100%;
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}
.navbar .navbar__center .option{
    width: 33%;
    height: 100%;
    /*background-color: blue;*/
}
.navbar .navbar__center .option .active .text,
.navbar .navbar__center .option .active .icon{
   color: var(--blue);
    font-weight: 800;
}
.navbar .navbar__center .option .active .icon{
    font-size: 20px;
}
.navbar .navbar__center .option a .icon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #8a96ae;
}
.navbar .navbar__center .option a .icon i{
    height: 40px ;
    width: 40px ;
    display: flex;
    align-items: center;
    justify-content: center;
/* background-color: red; */
    border-radius: 50%;
    box-shadow: 0 8px 8px rgb(0 0 0 / 18%);
    color: #8a96ae;
    border: 2px solid transparent;
    font-weight: bold;
    position: relative;
}
.navbar .navbar__center .option a .icon i span.active{
    position: absolute;
    display: unset;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 0, 0, 0.85);
    top: 12%;
    right: 24%;
    border-radius: 50%;
}
.navbar .navbar__center .option .active .icon i{
    border: 2px solid var(--blue);
    color: var(--blue);
}
.navbar .navbar__center .option .active .icon i span{
    display: none;
}
.navbar .navbar__center .option a .text{
    width: 100%;
    height: 40%;
    text-transform: capitalize;
    font-size: 18px;
    display: none;
    /*align-items: center;*/
    justify-content: center;
    color: #8a96ae;
}
