.normalhome.not__verified{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.normalhome.not__verified .not__verified__div__center{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.normalhome.not__verified .not__verified__div{
    margin-top: 30px;
    width: 90%;
    height: 100%;
    max-height: 60px;
    background-color: white;
    box-shadow: 0 20px 20px rgba(0,0,0,0.1788888);
    display: flex;
    align-items: center;
    justify-content: center;
}
.normalhome.not__verified .not__verified__div p{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: #7b869a;
}
.normalhome.not__verified .not__verified__div p button{
    text-transform: capitalize;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 800;
    font-size: 15px;
    color: var(--blue);
    cursor: pointer;
}
.verification__div{
    display: none;
}

.verification__div.active{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verification__div.active .verification__form{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verification__div.active .verification__form form{
    width:300px;
    height: 300px;
    background-color: white;
    box-shadow: 0 20px 20px rgba(0,0,0,0.178888);
}
.verification__div.active .verification__form form .number,
.verification__div.active .verification__form form .verify__code{
    width:100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verification__div.active .verification__form form .number input,
.verification__div.active .verification__form form .verify__code input{
    width:80%;
    height: 30px;
    outline: none;
    border: 1px solid transparent;
    background-color: #f1efef;
    padding: 0 5%;
    border-radius: 30px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.178888);
}
.verification__div.active .verification__form form .captcha__div{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verification__div.active .verification__form form .captcha__div{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verification__div.active .verification__form form .send__otp__btn,
.verification__div.active .verification__form form .verify__otp__btn{
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.verification__div.active .verification__form form .send__otp__btn button,
.verification__div.active .verification__form form .verify__otp__btn button{
    width: 120px;
    height: 30px;
    outline: none;
    border:none;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1788);
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    background-color: var(--blue);
    justify-content: center;
    display: flex;
    pointer-events: none;
}
.verification__div.active .verification__form form .error{
    width: 100%;
    height: 60px;
    align-items: center;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: rgba(208, 61, 61, 0.68);
    justify-content: center;
    display: flex;
}

.form2,
.form1{
    display: unset;
}

.form1.active,
.form2.active{
    display: none;
}




.normalhome{
    width: 100%;
    height: 100%;
    /*background-color:red;*/
}
.normalhome .availability__div{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.normalhome .availability__div .availability__div__body{
    width: 80%;
    height: 90px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.178888);
    border-radius: 30px;
}
.normalhome .availability__div .availability__div__body .text{
    width: 100%;
    height: 30%;
    display: flex;
    /*background-color: red;*/
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
    color: #8a96ae;
    letter-spacing: 1px;
}

.normalhome .availability__div .availability__div__body .box{
    width: 100%;
    height: 70%;
    display: flex;
}
.normalhome .availability__div .availability__div__body .box .box__text{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 12px;
    color: #8e97a0;
}
.normalhome .availability__div .availability__div__body .box .box__btn{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    /*background-color: red;*/
}
.normalhome .availability__div .availability__div__body .box .box__btn .switch{
    position: relative;
    display: inline-block;
    width: 90px;
    height: 40px;
    margin: 0 10px;
}
.normalhome .availability__div .availability__div__body .box .box__btn .switch .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#ccc;
    transition: .4s ease-in-out;
    border-radius: 34px;
}
.normalhome .availability__div .availability__div__body .box .box__btn .switch input{
    display: none;
}
.normalhome .availability__div .availability__div__body .box .box__btn .switch .slider::before{
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: .4s ease-in-out;
    border-radius: 50%;
}
.normalhome .availability__div .availability__div__body .box .box__btn .switch input:checked+.slider{
    background-color: var(--blue);
}
.normalhome .availability__div .availability__div__body .box .box__btn .switch input:checked+.slider::before{
    transform: translateX(156%);
}
.normalhome .schedule__div{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.normalhome .schedule__div .schedule__body{
    width: 80%;
    height: 100%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.178888),0 -2px 5px rgba(0,0,0,0.178888);
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
}
.normalhome .schedule__div .schedule__head{
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
    color: #8a96ae;
    letter-spacing: 1px;
}
.normalhome .schedule__div .schedule__input{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}
.custom-input{
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1778888);
    padding: 4px 33px;
    background-color: white;
    height: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.17888);
}
.custom-input:focus {
    outline: none;
    border: 1px solid #0c8af8;
    box-shadow: 0 0 10px 2px #8a96ae;
}
.rmdp-container{
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rmdp-container::before{
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: center;
    /* top: 5px; */
    height: 100%;
    width: 35px;
    font-size: 15px;
    content: "\f073";
    display: flex;
    color: #8a96ae;
    font-family: "Font Awesome 5 pro";
}
.normalhome .schedule__div .schedule__button{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.normalhome .schedule__div .schedule__button button{
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1788888);
    background-color: var(--blue);
    color: white;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    cursor: pointer;
}
.normalhome .schedule__div .schedule__button button:hover{
    transform: scale(.97);
    box-shadow:inset 0 6px 6px rgba(0,0,0,0.1788888);
}










/*.normalhome .availability__div .availability__div__body .button__div{*/
/*    width: 100%;*/
/*    height: 70%;*/
/*    padding: 9px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/
/*.normalhome .availability__div .availability__div__body .button__div .btns{*/
/*    width: 44%;*/
/*    max-height: 60px;*/
/*    max-width: 120px;*/
/*    height: 70%;*/
/*    cursor: pointer;*/
/*    padding: 10px 19px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: 13px;*/
/*    box-shadow: 0 6px 6px rgba(0,0,0,0.178888);*/
/*    border-radius: 50px;*/
/*}*/
/*.normalhome .availability__div .availability__div__body .button__div .btns.available__btn.active{*/
/*    box-shadow: 0 6px 6px rgba(0,0,0,0.178888);*/
/*    background-color: rgba(18, 236, 18, 0.84);*/
/*}*/
/*.normalhome .availability__div .availability__div__body .button__div .btns.unavailable__btn.active{*/
/*    box-shadow: 0 6px 6px rgba(0,0,0,0.178888);*/
/*    background-color: rgba(241, 63, 63, 0.86);*/
/*}*/