body{
    overflow-x: hidden;
}
.top{
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.top__body{
    width: 100%;
    max-width: 800px;
    display: flex;
    height: 60px;
    /*background-color: red;*/
    background-color: #fff;
}
.top .top__body .top__head{
    width: 20%;
    height: 60px;
    display: flex;
}
.top .top__body .top__head .profile__img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}
.top .top__body .top__head .profile__img .image{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.17888);
}

.top .top__body .top__head .profile__img .image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}
.top .top__body .userhome__logo{
    width: 80%;
    height: 100%;
}
.top .top__body .userhome__logo .logo__image{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.top .top__body .userhome__logo .logo__image img{
    width: 200px;
    /*background-color: red;*/
    height: 60px;
    /*background-color: blue;*/
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}