@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.userhome {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userhome .userhome__body{
    max-width: 800px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 30px 30px rgba(0,0,0,0.17888);
}
.userhome .userhome__body .userhome__top{
    width: 100%;
    height: 80px;
    /*background-color: red;*/
    display: flex;
    align-items: center;
}
.userhome .userhome__body .userhome__top .back__btn{
    width: 18%;
    height: 80px;
    /*background-color: blue;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.userhome .userhome__body .userhome__top .back__btn button{
    width: 100%;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
}
.userhome .userhome__body .userhome__top .back__btn button:hover i{
    transform: scale(.93);
    transition: .3s ease-in-out;
}
.userhome .userhome__body .userhome__top .back__btn button i{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: #849cf4;
    /*box-shadow: 0 8px 8px #849cf480;*/
    color: white;
    box-shadow: -7px 3px 30px 3px rgba(132,156,244,0.75);
    -webkit-box-shadow: -7px 3px 30px 3px rgba(132,156,244,0.75);
    -moz-box-shadow: -7px 3px 30px 3px rgba(132,156,244,0.75);
    border-radius: 12px;
}
.userhome .userhome__body .userhome__top .logo__image{
    width: 90%;
    height: 80px;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*display: flex;*/
}
.userhome .userhome__body .userhome__top .logo__image .image{
    width: 78%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.userhome .userhome__body .userhome__top .logo__image .image img{
    width: 100%;
    height: 180px;
    object-fit: contain;
}